{% extends "layout.html" %}

{% block content %}

            <!-- Recent Sales Start -->
            <div class="container-fluid pt-4" style="padding-left:0px">
                <div class="bg-light text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Operaciones</h6>
                       <!-- <a href="">Show All</a>-->
                    </div>

                     <form action="{{url_for('home')}}" method="POST">
                        <div class="table-responsive row justify-content-center">
                            <div class="col-lg-3 col-sm-6">
                                <label class="form-label small">Tipo de pago</label>
                                <select class="form-select mb-3 small" name="BancoId">
                                         {% for item in list_banco %}
                                             <option class="small" value="{{item[0]}}"  {% if bancoSelectedId| int==item[0]| int %} selected {% endif %}>{{item[1]}}</option>
                                         {% endfor %}
                                </select>
                            </div>
                            <div class="col-lg-2 col-sm-6">
                                <label class="form-label small">Tipo de Operación</label>
                                 <select class="form-select mb-3"  name="TipoOperacionId" id="TipoOperacionId">
                                        {% for item in list_tipooperaciones %}
                                            <option class="small" value="{{item[0]}}"  {% if tipoOperacionSelectedId| int==item[0]| int %} selected {% endif %}>{{item[1]}}</option>
                                        {% endfor %}
                                 </select>
                            </div>
                            <div class="col-lg-2 col-sm-6">
                                <label class="form-label small" for="startDate">Fecha Inicio</label>
                                <input id="startDate" name="startDate"  class="form-control small" type="date" value="{{fechaInicio}}" required="required"/>
                            </div>
                            <div class="col-lg-2 col-sm-6">
                                <label class="form-label small" for="endDate">Fecha Fin</label>
                                <input id="endDate" name="endDate" class="form-control small" type="date" value="{{fechaFin}}" required="required"/>
                            </div>
                            <div class="col-lg-1 col-sm-6 col-xs-6">
                                 <button type="submit" class="btn  btn-primary">
                                     <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#f9fafb}</style><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg>
                                      Buscar
                                 </button>
                            </div>
                            <div class="col-lg-1 col-sm-6 col-xs-6">
                                <div id="dvjson"></div>
                                <button id='DLtoExcel-2'  class="btn  btn-secondary">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#ffffff}</style><path d="M64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V160H256c-17.7 0-32-14.3-32-32V0H64zM256 0V128H384L256 0zM216 232V334.1l31-31c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-72 72c-9.4 9.4-24.6 9.4-33.9 0l-72-72c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l31 31V232c0-13.3 10.7-24 24-24s24 10.7 24 24z"/></svg>
                                     Exportar
                                </button>
                            </div>
                        </div>

                         <div class="table-responsive justify-content-center mb-4">
                                <input class="form-check-input" type="checkbox" id="recargaSaldo" name="recargaSaldo"  {% if recargaSaldo %} checked {% endif %}>
                                <label class="form-check-label" for="gridCheck1">
                                    Sin Recarga de Saldo
                                </label>

                                <input class="form-check-input" type="checkbox" id="soloMisOperaciones" name="soloMisOperaciones"  {% if soloMisOperaciones %} checked {% endif %}>
                                <label class="form-check-label" for="gridCheck1">
                                    Solo mis Operaciones
                                </label>
                         </div>
                     </form>

                    {% with messages = get_flashed_messages(category_filter=["success"])  %}
                          {% if messages %}
                              {% for message in messages %}
                                  <br>
                                  <div class="alert alert-success alert-dismissible fade show" role="alert">
                                       <i class="fa fa-exclamation-circle me-2"></i>{{ message }}
                                       <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                  </div>
                              {% endfor %}
                          {% endif %}
                    {% endwith %}


                    {% with errors = get_flashed_messages(category_filter=["error"]) %}
                        {% if errors %}
                             {% for message in errors %}
                                  <br>
                                  <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                       <i class="fa fa-exclamation-circle me-2"></i>{{ message }}
                                       <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                  </div>
                             {% endfor %}
                        {% endif %}
                    {% endwith %}

                    <div class="table-responsive">
                        <table id='tableData' class="table text-start align-middle table-bordered table-hover mb-0">
                            <thead>
                                <tr class="text-dark">
                                    <th scope="col">Id</th>
                                    <th scope="col">Banco</th>
                                    <th scope="col">Tipo Operación</th>
                                    <th scope="col">Monto</th>
                                    <th scope="col">Comisión</th>
                                    <th scope="col">Fecha de Operación</th>
                                    <th scope="col">Tipo Moneda</th>
                                    <th scope="col">Comentario</th>
                                    <th scope="col">Saldo</th>
                                    <th scope="col">Usuario</th>
                                    <th scope="col">Nro. Ope</th>
                                    <th scope="col">Acción</th>
                                    <th class="d-none" scope="col">Formula</th>
                                </tr>
                            </thead>

                            <tbody>

                              {% for row in list_operaciones %}
                              <tr>
                                <td>{{row[12]}}</td>
                                <td>{{row[7]}}</td>
                                <td>{{row[1]}}</td>
                                <td name="Monto" value="{{row[2]}}">{{row[2]}}</td>
                                <td name="Comision" value ="{{row[3]}}">{{row[3]}}</td>
                                <td class="small">{{row[4].strftime("%d-%m-%Y-%H:%M")}}</td>
                                <td>{{row[6]}}</td>

                                {% if  '|' in row[8] %}
                                    <td class="small">{{row[8].split('|')[0] +" ,"+ row[8].split('|')[1]}}</td>
                                {% else %}
                                    <td class="small">{{row[8]}}-</td>
                                {% endif %}

                                <td>{{row[9]}}</td>
                                <td>{{row[13]}}</td>
                                <td>{{row[15]}}</td>
                                <td width="130">
                                     {% if row[4].strftime("%Y-%m-%d")==fechaActual %}
                                         {% if row[14]==session['usuarioid'] %}
                                            <a href="/delete/{{row[0]}}/{{row[2]}}/{{row[3]}}/{{row[10]}}/{{row[11]}}/{{row[16]}}"  class="btn btn-sm btn-primary">Eliminar</a>
                                         {% else %}
                                             <span> . </span>
                                         {% endif %}
                                     {% else %}
                                        <span> - </span>
                                     {% endif %}
                                </td>
                                <td class="d-none">=SI(C{{row[12]+1}}=""Salida de Efectivo (RETIRO)"";M{{row[12] +2}}+D{{row[12]+1}};M{{row[12] +2}}-D{{row[12]+1}})</td>
                              </tr>
                              {% endfor %}
                            </tbody>
                            <tfoot class="tbody">
                                <tr>
                                                <td>-</td>
                                                <td class="fw-bold fs-5 text-success">-</td>
                                                <td class="fw-bold fs-5 text-success">Suma de Comisión:</td>
                                                <td class="fw-bold fs-5 text-success"></td>
                                                <td class="fw-bold fs-5 text-success">{{ sumaComision[0][0] }}</td>
                                                <td class="fw-bold fs-5 text-success"></td>
                                                <td class="fw-bold fs-5 text-success"></td>
                                                <td class="fw-bold fs-5 text-success"></td>
                                                <td class="fw-bold fs-5 text-success"></td>
                                                <td class="fw-bold fs-5 text-success"></td>
                                                <td class="fw-bold fs-5 text-success">{{ sumaComision[0][1] }}</td>
                                                <td class="fw-bold fs-5 text-success"></td>
                                                <td class="fw-bold fs-5 text-success d-none"></td>
                                </tr>
                            </tfoot>

                        </table>
                    </div>
                </div>
            </div>



            <!-- Recent Sales End -->

{% endblock %}
