{% extends "base.html" %}

{% block content %}
        <form action="/login" method="POST">
            <!-- Sign In Start -->
            <div class="container-fluid">
                <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
                    <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                        <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3">
                            <div class="d-flex align-items-center justify-content-between mb-3">
                                <a type="button" href="https://kasaseguro.com/" class="btn btn-outline-primary py-3 w-100 mb-4">Regresar a Casa de Cambio<i class="fa fa-home ms-2"></i></a>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mb-3">
                                <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>Full Pago</h3>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" name="username" id="username" class="form-control" id="floatingInput" placeholder="Usuario">
                                <label for="floatingInput">Usuario</label>
                            </div>
                            <div class="form-floating mb-4">
                                <input type="password" name="password" id="password" class="form-control" id="floatingPassword" placeholder="Contraseña">
                                <label for="floatingPassword">Password</label>
                            </div>
                            <div class="form-floating mb-4">
                                <select class="form-select" aria-label="multiple select example" name="catalogoId" id="catalogoId" required="required">
                                             {% for row in listaCajas %}
                                                 <option class="small" value="{{row[0]}}">{{row[3]}}</option>
                                             {% endfor %}
                                </select>
                                <label for="floatingInput">Caja</label>
                            </div>
                            <!--<div class="d-flex align-items-center justify-content-between mb-4">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                                </div>
                                <a href="">Forgot Password</a>
                            </div>-->
                            <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Iniciar Sessión</button>
                            <!--<p class="text-center mb-0">Don't have an Account? <a href="">Sign Up</a></p>-->

                            {% with messages = get_flashed_messages() %}
                            {% if messages %}
                            <br />
                            {% for message in messages %}
                            <div class="alert alert-primary alert-dismissible" role="alert">
                                <strong>{{ message }}</strong>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                            {% endfor %}
                            {% endif %}

                            {% endwith %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sign In End -->
        </form>

{% endblock %}

