{% extends "layout.html" %}

{% block content %}

<!-- Form Start -->
 <form id="formRegistarOperacion" name="formRegistarOperacion" action="{{url_for('nuevaOperacion')}}" method="POST">
            <div class="container-fluid pt-4" style="padding-left:0px">

                    <div class="bg-light rounded h-100 p-4">

                        <div class="col-sm-12 col-xl-12">
                             <h6 class="mb-4">Registrar Operación</h6>
                        </div>
                        <div class="row mb-2">
                          <div class="col-md-6 col-sm-12">
                              <label  class="form-label">Banco</label>
                              <select class="form-select" multiple  size="10" aria-label="multiple select example" name="BancoId" id="BancoId" required="required">
                                             {% for row in list_banco %}
                                                 <option class="small {{row[2]}}" value="{{row[0]}}">{{row[1]}}</option>
                                             {% endfor %}
                              </select>
                          </div>
                          <div class="col-md-6 col-sm-12">
                            <label class="form-label">Tipo de Operación</label>
                            <select class="form-select" multiple aria-label="multiple select example" name="TipoOperacionId" id="TipoOperacionId" required="required">
                                             {% for item in list_tipooperaciones %}
                                                  <option class="small" value="{{item[0]}}">{{item[1]}}</option>
                                             {% endfor %}
                            </select>
                            <input id="bancoNombreYtipoOperacionNombre" name="bancoNombreYtipoOperacionNombre" type="hidden" value="">
                          </div>
                        </div>
                        <div class="row mb-2">
                          <div class="col-md-2 col-sm-6">
                              <label  class="form-label">Monto en Efectivo</label>
                              <div class="input-group">
                                  <span class="input-group-text">S./ </span>
                                  <input type="number"
                                         class="form-control"
                                         onchange="calcularVuelto()"
                                         onkeypress="return isNumber(event)"
                                         id="MontoEfectivo"
                                         name="MontoEfectivo"
                                         required="required"
                                         placeholder="0.00"
                                         min="0"
                                         value="0"
                                         step="0.01"
                                         pattern="^\d+(?:\.\d{1,2})?$"
                                         onblur="
                                            this.parentNode.parentNode.style.backgroundColor=/^\d+(?:\.\d{1,2})?$/.test(this.value)?'inherit':'red'
                                            ">
                              </div>
                          </div>

                          <div class="col-md-2 col-sm-6">
                              <label class="form-label">Monto en</label>
                              <select class="form-select" name="PagoBancoId" id="PagoBancoId" required="required" disabled>
                                  <option class="small " value="5">YAPE</option>
                                  <option class="small " value="20">YAPE - JOSE - 956123971</option>
                                  <option class="small " value="9">SCOTIABANK/PLIN</option>
                                  <option class="small " value="13">BCP</option>
                              </select>
                          </div>
                          <div class="col-md-2 col-sm-6">
                              <label  class="form-label">:</label>
                              <div class="input-group">
                                  <span class="input-group-text">S./ </span>
                                  <input type="number"
                                         class="form-control"
                                         onchange="calcularVuelto()"
                                         onkeypress="return isNumber(event)"
                                         id="MontoBanco"
                                         name="MontoBanco"
                                         required="required"
                                         placeholder="0.00"
                                         min="0"
                                         value="0.0"
                                         step="0.01"
                                         pattern="^\d+(?:\.\d{1,2})?$"
                                         readonly
                                         onblur="
                                            this.parentNode.parentNode.style.backgroundColor=/^\d+(?:\.\d{1,2})?$/.test(this.value)?'inherit':'red'
                                            ">
                              </div>
                          </div>

                          <div class="col-md-2 col-sm-3">
                              <label class="form-label">Monto Total:</label>
                              <div class="input-group">
                                    <span class="input-group-text">S./ </span>
                                    <span class="form-control" id="MontoTotal" name="MontoTotal">0.0</span>
                              </div>
                          </div>

                          <div class="col-md-2 col-sm-6">
                              <label class="form-label">Cancela con</label>
                              <div class="input-group">
                                  <span class="input-group-text">S./ </span>
                                  <input type="number" onchange="calcularVuelto()" class="form-control" onkeypress="return isNumber(event)" id="CancelaCon" name="CancelaCon" required="required" placeholder="0.00"  min="0" value="0" step="0.01" pattern="^\d+(?:\.\d{1,2})?$" onblur="
                                                    this.parentNode.parentNode.style.backgroundColor=/^\d+(?:\.\d{1,2})?$/.test(this.value)?'inherit':'red'
                                                    ">
                              </div>
                          </div>

                          <div class="col-md-2 col-sm-3">
                              <label class="form-label">Vuelto</label>
                              <span class="input-group-text" id="vuelto" name="vuelto">S/ 0.0</span>
                          </div>

                          <!--<div class="col-md-2 col-sm-6">
                              <label  class="form-label">Tipo Moneda</label>
                              <fieldset class="row">
                                  <div class="col-sm-3 col-xl-3">
                                      <input class="form-check-input" type="radio" name="TipoMoneda"
                                                            id="TipoMonedaSol" value="1">
                                      <label class="form-check-label" for="gridRadios1">
                                                            S./
                                      </label>
                                  </div>
                                  <div class="form-check mb-6 col-sm-3 col-xl-3">
                                      <input class="form-check-input" type="radio" name="TipoMoneda"
                                                            id="TipoMonedaDolar" value="2">
                                      <label class="form-check-label" for="gridRadios2">
                                                            $
                                      </label>
                                  </div>
                              </fieldset>
                          </div>-->

                        </div>
                        <div class="row mb-2">
                          <div class="col-md-2 col-sm-3">
                              <label class="form-label">Comisión</label>
                               <div class="input-group">
                                  <span class="input-group-text">S./ </span>
                                  <input type="number"
                                         class="form-control"
                                         onchange="calcularVuelto()"
                                         onkeypress="return isNumber(event)"
                                         id="Comision"
                                         name="Comision"
                                         required
                                         placeholder="0.00"
                                         min="0"
                                         value="0"
                                         step="0.01"
                                         pattern="^\d+(?:\.\d{1,2})?$"
                                         onblur="
                                                this.parentNode.parentNode.style.backgroundColor=/^\d+(?:\.\d{1,2})?$/.test(this.value)?'inherit':'red'
                                                ">
                               </div>
                          </div>
                          <div class="col-md-4 col-sm-3">
                              <label class="form-label"> Pago de Comisión en:</label>
                              <fieldset class="row">
                                  <div class="col-sm-6 col-xl-6">
                                      <input class="form-check-input" type="radio" name="ComisionBanco"
                                                            id="comisionEfectivo" value="1" checked>
                                      <label class="form-check-label" for="gridRadios1">
                                                            Efectivo
                                      </label>
                                  </div>
                                  <div class="form-check mb-6 col-sm-6 col-xl-6">
                                      <input class="form-check-input" type="radio" name="ComisionBanco"
                                                            id="comisionBanco" value="2">
                                      <label class="form-check-label" for="gridRadios2">
                                                            Mismo Banco
                                      </label>
                                  </div>
                              </fieldset>
                          </div>

                          <div class="col-md-2 col-sm-3">
                              <label class="form-label">Nro. de Operaciones</label>
                              <input type="number" class="form-control" id="numerooperacion" name="numerooperacion" required="required" value="1"  min="1"  step="1" >
                          </div>

                          <div class="col-md-4 col-sm-12">
                               <label class="form-label">Descripción</label>
                               <input type="text" class="form-control" name="Comentario" id="Comentario">
                         </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-9 col-xl-9 pt-3">
                                <button name ="btnRegistrar" id="btnRegistrar" class="btn btn-lg btn-primary w-100"  onclick="clickRegistrarOperacion(this)">Registrar</button>
                            </div>
                            <div class="col-sm-3 col-xl-3 pt-3">
                                <a  class="btn btn-lg btn-secondary w-100" id="imprimir_btn" name="imprimir_btn"  href="/imprimirNuevaOperacion/" target="_blank"><i class="fas fa-print"></i> Imprimir</a>
                            </div>
                        </div>
                    </div>
            </div>
      </form>

    {% with messages = get_flashed_messages(category_filter=["success"])  %}
          {% if messages %}
              {% for message in messages %}
              <br>
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                   <i class="fa fa-exclamation-circle me-2"></i>{{ message }}
                   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              {% endfor %}
          {% endif %}
    {% endwith %}

    {% with errors = get_flashed_messages(category_filter=["error"]) %}
    {% if errors %}
         {% for message in errors %}
            <br>
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                   <i class="fa fa-exclamation-circle me-2"></i>{{ message }}
                   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

         {% endfor %}
    {% endif %}
    {% endwith %}

{% endblock %}
