{% extends "layout.html" %}

{% block content %}

<!-- Form Start -->
            <div class="container-fluid pt-4" style="padding-left:0px">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-12">
                        <div class="bg-light rounded h-100 p-4">
                            <h6 class="mb-4">Tipo de Cambio</h6>
                                 <div class="table-responsive">
                                    <table class="table text-start align-middle table-bordered table-hover mb-0">
                                        <thead>
                                            <tr class="text-dark">
                                                <th scope="col">Modalidad</th>
                                                <th scope="col">Compra</th>
                                                <th scope="col">Venta</th>
                                                <th scope="col">Acción</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                              <form action="{{url_for('load')}}" method="POST">
                                                  <tr>
                                                    <td>
                                                        PRESENCIAL
                                                        <input name="modalidadId" type="hidden" value="1">
                                                    </td>
                                                    <td>
                                                        <input type="number" class="form-control" id="valorCompraPresencial" name="valorCompra" value="{{valorCompraPresencial}}" step=".001" required>
                                                    <td>
                                                        <input type="number" class="form-control" id="valorVentaPresencial" name="valorVenta" value="{{valorVentaPresencial}}" step=".001" required>
                                                    </td>
                                                    <td><button type="submit" class="btn btn-sm btn-primary w-100" name="accion_btn" value="actualizar">Actualizar</button></td>
                                                  </tr>
                                              </form>
                                              <form action="{{url_for('load')}}" method="POST">
                                                  <tr>
                                                    <td>
                                                        VIRTUAL
                                                        <input name="modalidadId" type="hidden" value="2">
                                                    </td>
                                                    <td>
                                                        <input type="number" class="form-control" id="valorCompra" name="valorCompra" value="{{valorCompraVirtual}}" step=".001" required>
                                                    <td>
                                                        <input type="number" class="form-control" id="valorVentaVirtual" name="valorVenta" value="{{valorVentaVirtual}}" step=".001" required>
                                                    </td>
                                                    <td><button type="submit" class="btn btn-sm btn-primary w-100" name="accion_btn" value="actualizar">Actualizar</button></td>
                                                  </tr>
                                              </form>
                                        </tbody>
                                    </table>
                                </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Form End -->

    {% with messages = get_flashed_messages(category_filter=["success"])  %}
          {% if messages %}
              {% for message in messages %}
              <br>
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              {% endfor %}
          {% endif %}
    {% endwith %}

    {% with errors = get_flashed_messages(category_filter=["error"]) %}
    {% if errors %}
         {% for message in errors %}
            <br>
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">×</span>
                </button>
            </div>
         {% endfor %}
    {% endif %}
    {% endwith %}


{% endblock %}
