{% extends "layout.html" %}

{% block content %}

<!-- Form Start -->
 <form name="cierreFormWu" id="cierreFormWu" action="{{url_for('cierre')}}" method="POST">
            <div class="container-fluid pt-4" style="padding-left:0px">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-12">
                        <div class="bg-light rounded h-100 p-4">
                            <form>
                                <h6 class="mb-4">Cierre de Caja  - <span class="font-weight-bold">WESTER UNION</span>
                                     <img class="rounded mx-auto float-end" src="/static/img/wester.png" alt="" style="width: 10%;">
                                </h6>
                                 <div class="table-responsive row justify-content-center mb-4">
                                     <div class="col-lg-3 col-sm-12">
                                        <label class="form-label" for="startDate">Fecha de Cierre</label>
                                      </div>
                                     <div class="col-lg-3 col-sm-12">
                                        <input id="startDate" name="fechaCierre"  class="form-control" type="date" value="{{fecha}}" required="required"/>
                                     </div>
                                     <div class="col-lg-2 col-sm-6">
                                         <button type="submit" class="btn btn-lg btn-primary" name="accion_btn" value="buscar">
                                             <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#f9fafb}</style><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg>
                                              Buscar
                                         </button>
                                     </div>
                                     <div class="col-lg-2 col-sm-6">
                                        <div id="dvjson"></div>
                                        <a id='DLtoExcel-2' target="_blank"  class="btn btn-lg  btn-secondary">
                                            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#ffffff}</style><path d="M64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V160H256c-17.7 0-32-14.3-32-32V0H64zM256 0V128H384L256 0zM216 232V334.1l31-31c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-72 72c-9.4 9.4-24.6 9.4-33.9 0l-72-72c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l31 31V232c0-13.3 10.7-24 24-24s24 10.7 24 24z"/></svg>
                                             Exportar</a>
                                     </div>
                                     <br>
                                 </div>

                                 <div class="table-responsive">

                                    <table id='tableData'  class="table text-start align-middle table-bordered table-hover mb-0" style="font-size: .8em;">
                                        <thead>
                                            <tr class="text-dark">
                                                <th class="small" scope="col">Id</th>
                                                <th class="small" scope="col">Banco</th>
                                                <th class="small" scope="col">Monto Inicial</th>
                                                <th class="small" scope="col">Monto Final</th>
                                                <th class="small" scope="col">Comision</th>
                                                <th class="small" scope="col">Monto Total <br>Calculado</th>
                                                <th class="small" scope="col">Nro. Operaciones<br>sin Recargas Saldo</th>
                                                <th class="small" scope="col">Monto Total Real</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                          {% for row in list_cajas %}
                                          <tr>
                                            <td class="small">
                                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                <input id="cajaid" name="cajaid" type="hidden" value="{{row[0]}}">
                                                <input id="montoinicial_{{row[8]}}" name="montoinicial_{{row[8]}}" type="hidden" value="{{row[1]}}">
                                                <input id="montofinalreal_{{row[8]}}" name="montofinalreal_{{row[8]}}" type="hidden" value="{{row[3]}}">
                                            </td>
                                            <td class="small">{{row[4]}}</td>
                                            <td class="small">
                                                {% if "DOL" in row[4]%}
                                                    $ {{row[1]}}
                                                {% else %}
                                                    S./ {{row[1]}}
                                                {% endif %}
                                            </td>

                                            <td class="small">
                                                {% if "DOL" in row[4]%}
                                                    $ {{row[2]}}
                                                {% else %}
                                                    S./ {{row[2]}}
                                                {% endif %}
                                            </td>
                                            <td class="small">
                                                {% if "DOL" in row[4]%}
                                                    $ {{row[5]}}
                                                {% else %}
                                                    S./ {{row[5]}}
                                                {% endif %}
                                            </td>
                                            <td class="small">
                                                {% if "DOL" in row[4]%}
                                                    $ {{row[6]}}
                                                {% else %}
                                                    S./ {{row[6]}}
                                                {% endif %}
                                            </td>
                                            <td class="small">{{row[11]}}</td>
                                            <td class="small">
                                                {% if fecha==fechaDeHoy %}
                                                         <div class="input-group">
                                                             {% if "DOL" in row[4]%}
                                                                <span class="input-group-text">$</span>
                                                             {% else %}
                                                                <span class="input-group-text">S./ </span>
                                                             {% endif %}

                                                             <input type="number"
                                                                           class="form-control form-control-sm"
                                                                           onkeypress="return isNumber(event)"
                                                                           id="{{row[0]}}"
                                                                           name="{{row[0]}}"
                                                                           required="required"
                                                                           placeholder="0.00"
                                                                           step="0.01"
                                                                           pattern="^\d+(?:\.\d{1,2})?$"
                                                                           onblur="this.parentNode.parentNode.style.backgroundColor=/^\d+(?:\.\d{1,2})?$/.test(this.value)?'inherit':'red'"
                                                                           {% if row[8]==30  %}
                                                                            readonly
                                                                            value="{{saldo_soles_hoy}}"
                                                                           {% elif row[8]==31 %}
                                                                            readonly
                                                                            value="{{saldo_dolares_hoy}}"
                                                                           {% else %}
                                                                            value="{{row[3]}}"
                                                                           {% endif %}
                                                             >

                                                             {% if row[8]==30 or row[8]==31 %}
                                                             <span class="input-group-text">
                                                                 <a href="/registraRemesa">
                                                                     <i class="fas fa-plus-circle fa-sm"></i>
                                                                 </a>
                                                             </span>
                                                             {% else %}
                                                             <span class="input-group-text">
                                                                 <a href="#" class="" name="{{row[8]}}_copy" onclick="copyValue('{{row[8]}}', '{{row[0]}}')">
                                                                     <i class="fas fa-solid fa-copy fa-sm"></i>
                                                                 </a>
                                                             </span>
                                                             {% endif %}
                                                        </div>

                                                {% else %}
                                                    {{row[3]}}
                                                {% endif %}
                                            </td>
                                          </tr>
                                          {% endfor %}
                                        </tbody>

                                        <tfoot class="tbody">
                                            {% if not  list_cajas %}
                                            <tr>

                                            </tr>
                                            {% else %}
                                            <tr>
                                                <td>-</td>
                                                <td class="fw-bold fs-5 text-success small">TOTALES:</td>
                                                <td class="fw-bold fs-5 text-success small" id="totalMontoInicial2"></td>
                                                <td class="fw-bold fs-5 text-success small"></td>
                                                <td class="fw-bold fs-5 text-success small"></td>
                                                <td class="fw-bold fs-5 text-success small"></td>
                                                <td class="fw-bold fs-5 text-success small"></td>
                                                <td class="fw-bold fs-5 text-success small" id="totalMontoFinalReal2"></td>
                                            </tr>
                                            {% endif %}
                                        </tfoot>

                                    </table>
                                </div>

                                <br>
                                 <br>
                                 {% if not  list_cajas %}
                                    <span>No se tiene Caja Aperturada para la fecha seleccionada.</span>
                                 {% else %}
                                    {% if fecha==fechaDeHoy %}
                                        <button type="submit" class="btn btn-lg btn-primary w-100" name="accion_btn" value="actualizar">Cerrar Caja</button>
                                    {% endif %}
                                 {% endif %}

                            </form>
                        </div>
                    </div>
                </div>
            </div>



            <div class="container-fluid pt-4" style="padding-left:0px">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-12">
                        <div class="bg-light rounded h-100 p-4">
                                <div class="table-responsive row justify-content-center mb-4">
                                     <div class="col-lg-4 col-sm-12">
                                         <p>Monto Total Real S./ WU (Hoy): <mark id="totalMontoFinalReal"></mark></p>
                                         <figure class="text-end atajo-teclado">
                                           <figcaption class="blockquote-footer atajo-teclado">
                                                Compra (Hoy): S./
                                               <input
                                                       id="tipoCompraDiaActual"
                                                       name="tipoCompraDiaActual"
                                                       type="number"
                                                       value="{{valorCompraVirtualFechaActual}}"
                                                       style="width: 15%;"
                                               >
                                            </figcaption>
                                         </figure>
                                     </div>
                                     <div class="col-lg-4 col-sm-12">
                                         <p>Monto Total Real S./ WU (Ayer): <mark id="totalMontoInicial"></mark></p>
                                         <figure class="text-end atajo-teclado">
                                           <figcaption class="blockquote-footer atajo-teclado">
                                                Compra (Ayer): S./
                                               <input
                                                       id="tipoCompraDiaAnterior"
                                                       name="tipoCompraDiaAnterior"
                                                       type="number"
                                                       value="{{valorCompraVirtualDiaAnterior}}"
                                                       style="width: 15%;"
                                               >
                                            </figcaption>
                                         </figure>
                                     </div>
                                     <div class="col-lg-4 col-sm-12">
                                        <p>Ganancia: <mark id="ganancia"></mark></p>
                                     </div>


                                     <br>
                                 </div>

                                <div class="table-responsive">
                                    <table class="table text-start align-middle table-bordered table-hover mb-0" style="font-size: .8em;">
                                        <thead>
                                            <tr class="text-dark">
                                                <th class="small" scope="col">Monto</th>
                                                <th class="small" scope="col">BCP</th>
                                                <th class="small" scope="col">SCOTIABANK</th>
                                                <th class="small" scope="col">Saldo</th>
                                                <th class="small" scope="col">WU HOY</th>
                                                <th class="small" scope="col">WU AYER</th>
                                                <th class="small" scope="col">WU HACE 2 DÍAS</th>
                                                <th class="small" scope="col">WU HACE 3 DÍAS</th>
                                                <th class="small" scope="col">WU HACE 4 DÍAS</th>
                                                <th class="small" scope="col">Total WU</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <td class="small">S./</td>
                                            <td class="small"><p id="bancoid_26"></p></td>
                                            <td class="small"><p id="bancoid_28"></p></td>
                                            <td class="small"><p id="bancoid_22"></p></td>
                                            <td class="small"><p id="bancoid_30"></p></td>
                                            <td class="small"><p id="bancoid_32"></p></td>
                                            <td class="small"><p id="bancoid_34"></p></td>
                                            <td class="small"><p id="bancoid_36"></p></td>
                                            <td class="small"><p id="bancoid_38"></p></td>
                                            <td class="small"><p id="total_soles"></p></td>
                                          </tr>
                                          <tr>
                                            <td class="small">$</td>
                                            <td class="small"><p id="bancoid_27"></p></td>
                                            <td class="small"><p id="bancoid_29"></p></td>
                                            <td class="small"><p id="bancoid_23"></p></td>
                                            <td class="small"><p id="bancoid_31"></p></td>
                                            <td class="small"><p id="bancoid_33"></p></td>
                                            <td class="small"><p id="bancoid_35"></p></td>
                                            <td class="small"><p id="bancoid_37"></p></td>
                                            <td class="small"><p id="bancoid_39"></p></td>
                                            <td class="small"><p id="total_dolares"></p></td>
                                          </tr>
                                        </tbody>
                                    </table>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
      </form>
<!-- Form End -->







    {% with messages = get_flashed_messages(category_filter=["success"])  %}
          {% if messages %}
              {% for message in messages %}
              <br>
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                  <i class="fa fa-exclamation-circle me-2"></i>{{ message }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              {% endfor %}
          {% endif %}
    {% endwith %}

    {% with errors = get_flashed_messages(category_filter=["error"]) %}
    {% if errors %}
         {% for message in errors %}
            <br>
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                 <i class="fa fa-exclamation-circle me-2"></i>{{ message }}
                 <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
         {% endfor %}
    {% endif %}
    {% endwith %}

{% endblock %}
